<%- include('partials/header') %>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<ul class="list-unstyled">
  <% if(postsLenght === 0 ) { %>

  <h2 id="post">Post something new!</h2>
  <a id="postButton" class="btn btn-primary" href="/compose" role="button">
    POST
  </a>

  <% } else { posts.forEach(function(post){ %>

  <li class="media">
    <div class="media-body">
      <h4 class="mt-0 mb-1"><%=post.postTitle%></h4>
      <%= post.postDescription %>
    </div>
  </li>

  <% }); } %>
</ul>

<%- include("partials/footer"); -%>
